<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.coderwjq.shop">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity">
        </activity>
        <activity android:name=".activity.LoginActivity">
        </activity>
        <activity android:name=".activity.RegistActivity"/>
        <!-- 电影详细信息 -->
        <activity
            android:name=".module.movie_detail.MovieDetailActivity"
            android:theme="@style/FullScreenTheme">
        </activity>
        <activity android:name=".module.player.VideoPlayerActivity">
        </activity>
        <activity android:name=".module.movie_star.MovieStarActivity">
        </activity>
        <activity android:name=".activity.WebViewActivity">
        </activity>
        <activity android:name=".module.movie_search.SearchActivity">
        </activity>
        <activity android:name=".module.movie_rank.favourable_rank.MovieFavourableActivity">
        </activity>
        <activity android:name=".module.movie_rank.expecting_rank.MovieExpectingActivity">
        </activity>
        <activity android:name=".module.movie_rank.top100_rank.MovieTop100Activity">
        </activity>
    </application>

</manifest>